@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #121212;
  color: #ffffff;
}

html {
  scroll-behavior: smooth;
}